/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/11/2015, 09:42:39 AM
    Author     : dperez
*/
@font-face {
    font-family: LibreSans;
    src: url(../Fonts/LibreSansSerifSSi.ttf);
}

a a:visited a:link{
    color:white;
    font-weight: bold;
    text-decoration: none;
}

div {
    font-family: LibreSans;
    font-size: 14px;
    text-decoration: none;
}

.link{
    color:white;
    font-weight: bolder;
    text-decoration: none;
}

div .titulo-fondo{
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: bold;
}
div .sub-titulo-fondo{
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: normal;
}

.titulo-grande{
    font-size: 16px;
    color: white;
}
.titulo-grande-header{
    font-size: 16px;
    color: white;
    text-align: center;
}

.contentBody {
    position: absolute;
    padding: 0px 30px 0 10px;
    top: 115px;
    bottom: 0;
    height: 100%;
    left: 200px;
    right: 0;
    overflow: auto;
    text-align: center; 
    z-index: -1;
}

#iconContainer{
    margin-top: 12px;
    margin-left: 20px;
    float:left;
}
.fondo-azul{
    background-color: #2c5697; /* azul pantone marfrig RGB 44,86,151 */    
}

.fondo-verde{
    background-color: #96c841; /* RGB(150, 200, 65) */
}

.input {
    border-style: solid;
    border-color: #96c841;
    border-width: 1px;
    width: 97%;
}
.input:focus{
    width: 97%;
    background-color: #A8CF45;
    color: #ffffff;
}

.boton-input{
    width: 100%;
    border: 1px solid;
    border-color: #668CC8;
    background-color:#2c5697;
    color: white;
    border-width: 2px;
    border-color: #96c841;
    cursor: pointer;
}

.boton-input:hover{
    background-color: #96c841;
    border-color: white;
    color: #2c5697;
    box-shadow: #999 1px 1px 1px 1px;
}

#divLogin {
    width: 150px;
    margin-top: 10px;
    float: right;
    padding-right: 10px;
}

#header{
    height: 100px;
    width: 100%;
    -webkit-box-shadow:#999999 0px 10px 5px;
    -moz-box-shadow: #999999 0px 10px 5px;;
    box-shadow: #999999 0px 10px 5px;
}
#menu{
    width: 15%;
    box-shadow: 5px 10px 5px #999;
    height: 100%;
    display: block;
    position: absolute;
    top: 108px;
    left: 8px;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    overflow: hidden;
    z-index: 9999999; 
    -webkit-box-shadow:#999999 0px 15px 5px;
    -moz-box-shadow: #999999 0px 15px 5px;;
    box-shadow: #999999 0px 15px 5px;
    overflow-y: auto;
}

.divMenuItem{
    border: 1px solid;
    border-color: #668CC8;
    color: white;
    text-align: center;
    font-size: 16px;
    height: 40px;
    padding-top: 5%;
}

.divMenuItem:hover{
    background-color: #96c841;
    border-color: white;
    color: #2c5697;
    box-shadow: #999 1px 1px 1px 1px;
}

.error {
    flex: auto;
    border: solid;
    border-width: 1px;
    border-color: red;
    background-color: #ff6666;
    padding-left: 10px;
}