/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/12/2015, 10:58:59 AM
    Author     : dperez
*/

.tabla-infoSuministro{
    background-color: #EBEDF2;
    text-align: center !important;
    border-color: #668CC8
}
.tabla-listaSuministro{
    background-color: #EBEDF2;
    text-align: left !important;
    border-color: #668CC8
}

.boton-tabla{
    width: 100%;
    height: 30px;
    border-radius: 15px 0px;
}
